<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
  <div>
    <p>Welcome to login page</p>
  </div>

  <div class="login-form">
    <form>

      <label for="login-input">Username</label>
      <input id="login-input" type="text" name="username" placeholder="Username">

      <label for="password-input">Password</label>
      <input id="password-input" type="password" name="password" placeholder="Password">

      <button id="login-btn" type="button">Login</button>

    </form>
  </div>

  <script th:src="@{/js/login.js}"></script>
</body>
</html>